div#entries, #form {
	margin: auto;
	width: 50%;
}

.card {
	margin-bottom: 2em;
}

.nierChar {
	animation: pop-in 0.8s ease-in-out;
}

@keyframes pop-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(5);
	}
}

.card-title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}